# === Ambiente Python (Linux/pyenv) ===
.venv/
env/
venv/
ENV/

.venv

# === Caches e Compilados ===
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

# === Dados e Modelos (MLOps) ===
# Ignorar a pasta de dados brutos e processados
data/
# Ignorar arquivos de modelos pesados (.pkl, .h5, .pt, .onnx)
*.pkl
*.h5
*.pt
*.pth
*.onnx
# Logs do PyTorch Lightning e TensorBoard
lightning_logs/
results/
outputs/

# === IDEs e Sistema (Ubuntu/Linux) ===
.vscode/
.idea/
*.swp
*~
# Arquivos específicos do Linux
.directory
.Trash-*
.DS_Store
Thumbs.db

# === Jupyter Notebooks ===
# Às vezes é bom ignorar os arquivos temporários de salvamento automático
.ipynb_checkpoints