# Manipulação de dados e computação numérica
numpy==1.24.3
pandas==2.0.3
scipy==1.11.2

# Modelos estatísticos e de séries temporais
statsmodels==0.13.5

# Deep Learning
tensorflow==2.15.0

# Utilitários de Machine Learning e métricas
scikit-learn==1.3.0

# Leitura de arquivos de configuração e CLI
PyYAML==6.0.1

# Salvamento de modelos
joblib==1.4.0

# Plotagem (opcional, mas útil para análise)
matplotlib==3.8.2
tabulate 